@{
    ViewData["Title"] = "DistribuidorMundo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distribuidores Mundo</h1>
<div class="text-center">
    <h1 class="display-4">Amazon.com, Inc.</h1>
    <p>Empresa multinacional de tecnología y comercio electrónico con sede en Seattle, Washington. Es una de las mayores compañías de comercio electrónico y servicios de computación en la nube del mundo. <a href="https://www.amazon.com/">Más información</a>.</p>
    <img src="https://th.bing.com/th/id/OIP.oo2bk7LzvHCqkL6_Ai7m4AAAAA?rs=1&pid=ImgDetMain.jpg" alt="Imagen de Amazon.com, Inc.">
</div>

<div class="text-center">
    <h1 class="display-4">Alibaba Group Holding Limited</h1>
    <p>Corporación multinacional de tecnología y comercio electrónico con sede en China. Opera plataformas de comercio electrónico, servicios de venta al por menor y al por mayor, servicios de pago en línea, servicios de computación en la nube y más. <a href="https://www.alibaba.com/">Más información</a>.</p>
    <img src="https://th.bing.com/th/id/OIP.1FPQQn7hLRYu_9wOp6dkPQHaEK?rs=1&pid=ImgDetMain.jpg" alt="Imagen de Alibaba Group Holding Limited">
</div>

<div class="text-center">
    <h1 class="display-4">Carrefour S.A.</h1>
    <p>Corporación multinacional francesa de distribución minorista, una de las más grandes del mundo. Opera una red de hipermercados, supermercados, tiendas de conveniencia y tiendas de descuento. <a href="https://www.carrefour.com/">Más información</a>.</p>
    <img src="https://th.bing.com/th/id/R.095ff6788d1ce1cb46487fe32d0eaa2d?rik=93PyIO6%2fZjHroA&pid=ImgRaw&r=0.jpg" alt="Imagen de Carrefour S.A.">
</div>