@{
    ViewData["Title"] = "DistribuidorPeru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Distribuidores Perú</h1>
<div class="text-center">
    <h1 class="display-4">Distribuidora El Sol</h1>
    <p>Distribuidora de productos alimenticios y bebidas, con amplia cobertura nacional. Ofrecen una variedad de marcas reconocidas y productos de calidad. <a href="#">Más información</a>.</p>
    <img src="https://th.bing.com/th/id/OIP.dqM0XPMHeaYDpeIsNap2AwAAAA?rs=1&pid=ImgDetMain.jpg" alt="Imagen de Distribuidora El Sol">
</div>
<div class="text-center">
    <h1 class="display-4">Distribuidora Andina</h1>
    <p>Especializada en la distribución de productos farmacéuticos y de salud en todo el territorio peruano. Cuentan con un amplio catálogo de medicamentos y productos de cuidado personal. <a href="#">Más información</a>.</p>
    <img src="https://th.bing.com/th/id/OIP.0ueayutHrJv2b1Z0b3BjnQHaHa?rs=1&pid=ImgDetMain.jpg" alt="Imagen de Distribuidora Andina">
</div>

<div class="text-center">
    <h1 class="display-4">Distribuidora Nacional de Librerías</h1>
    <p>Proveedor líder de materiales educativos y suministros de oficina en Perú. Ofrecen una amplia gama de libros, útiles escolares y equipos de oficina. <a href="#">Más información</a>.</p>
    <img src="https://th.bing.com/th/id/OIP.fDiBKVte7RAKuz2sv3R2fQHaC0?rs=1&pid=ImgDetMain.jpg" alt="Imagen de Distribuidora Nacional de Librerías">
</div>
